.col {
    padding: 10px;
    display: inline-block;
}
#dialog-error {
    padding: 5px;
    background-color: #800;
    border: solid 1px #F00;
}
.white {
    color: #FFFFFF;
}
pre {
    display: inline;
}
#sidebar {
    border-right: 2px solid #000;
}
.sidebar_menu {
    list-style-type: none;
    font-size: 20px;
}
.sidebar_menu li {
    margin-bottom: 5px;
}
.footer {
    bottom: 0px;
    left: 0px;
    position: absolute;
}